<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Тест-кейсы</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="">
<header>
  <div class="px-4 pt-2 d-flex justify-content-end">
    <div class="mx-3 pt-1 d-flex border-dark align-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="m-1 bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <p class="text-dark" th:text="|${user.getSecondName()} ${user.getFirstName()}|">Марьюшкин Антон</p>
    </div>
    <div class="pt-1 d-flex border-dark">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="m-1 bi bi-box-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
        <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
      </svg>
      <form th:action="@{/logout}" method="post">
        <input type="submit" class="nav-link text-muted" value="Выйти из аккаунта">
      </form>
    </div>
  </div>
</header>
<section class="pt-1 d-flex flex-column justify-content-center" style="height: 85%">
  <div class="container-sm">
    <h3 class="text-center display-6" th:text="|${set.getName()} &#8594; Тест-кейсы|">Набор &#8594; Тест-кейсы</h3>
    <p class="p-2 text-center" style="border-bottom: 1px solid dimgrey; color: dimgrey" th:text="|Список тест-кейсов|">Список тест-кейсов</p>
    <div class="mb-3 d-flex justify-content-between">
        <a class="text-muted" style="text-decoration: none;" th:href="@{/companies/{idcompany}/projects/{idproject}/sets(idcompany = ${company.getId()}, idproject = ${project.getId()})}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
          </svg>
          Вернуться к списку наборов
        </a>
        <a class="btn btn-primary" style="background: #337350; border: #337350" th:href="@{/companies/{idcompany}/projects/{idproject}/sets/{idset}/cases/create-case(idcompany = ${company.getId()}, idproject = ${project.getId()}, idset = ${set.getId()})}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          Создать
        </a>
    </div>
    <div class="cases">
      <th:block th:each="case : ${cases}">
        <div class="card d-flex flex-column py-1 mt-2 justify-content-between" style="background: whitesmoke; border: 1px solid dimgrey;">
          <div class="">
            <p class="py-2 lead title text-center" th:text="${case.getName()}">Название тест-кейса</p>
            <div class="d-flex justify-content-around">
              <p class="" th:text="|Приоритет: ${case.getPriority()}|">Приоритет тест-кейса</p>
              <p class="" th:text="|Серьезность: ${case.getSeriousness()}|">Серьезность тест-кейса</p>
              <p class="" th:text="|Статус: ${case.getStatus()}|">Статус тест-кейса</p>
            </div>
          </div>
          <div class="btns d-flex justify-content-end">
            <div class="d-flex p-2">
              <a class="btn btn-primary" style="height: 100%;" th:href="@{/companies/{idCompany}/projects/{id}/sets/{setid}/cases/{caseid}/update-case(idCompany = ${company.getId()}, id = ${project.getId()}, setid = ${set.getId()}, caseid = ${case.getId()})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                <label>Редактировать</label>
              </a>
            </div>

            <div class="d-flex p-2">
              <a class="btn btn-primary border-danger bg-danger" style="height: 100%; cursor: pointer;" method="post" th:href="@{/companies/{idCompany}/projects/{id}/sets/{setid}/cases/{caseid}/delete-case(idCompany = ${company.getId()}, id = ${project.getId()}, setid = ${set.getId()}, caseid = ${case.getId()})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                </svg>
                Убрать
              </a>
            </div>

            <div class="d-flex p-2">
              <a class="btn btn-primary border-dark bg-dark" style="height: 100%;" th:href="@{/companies/{idCompany}/projects/{id}/sets/{setid}/cases/{caseid}(idCompany = ${company.getId()}, id = ${project.getId()}, setid = ${set.getId()}, caseid = ${case.getId()})}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                  <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
                </svg>
                Открыть
              </a>
            </div>
            <div class=" d-flex p-2">
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>