<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Наборы</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-dark">
<header>
  <div class="container-md">
    <ul class="lead p-1 d-flex justify-content-around" style="list-style: none;">
    </ul>
  </div>
</header>
<section class="p-5 d-flex flex-column justify-content-center" style="height: 85%">
  <div class="container-sm">
    <h3 class="text-white text-center display-6" th:text="|Наборы - ${project.getName()}|">Наборы</h3>
    <p class="p-3 text-center" style="border-bottom: 1px solid dimgrey; color: dimgrey" th:text="|Список наборов|"></p>
    <div class="btn mb-3 d-flex justify-content-end">
      <a class="btn btn-primary" style="background: #337350; border: #337350" th:href="@{/companies/{idcompany}/projects/{idproject}/sets/create-set(idcompany = ${company.getId()}, idproject = ${project.getId()})}">Создать набор</a>
    </div>
    <div class="projects">
      <th:block th:each="set : ${sets}">
        <div class="d-flex flex-column mx-5 p-3 justify-content-between" style="border-bottom: 1px solid dimgrey; border-radius: 20px;">
          <div class="">
            <p class="lead text-white" th:text="${set.getName()}">Название набора</p>
            <p class="lead px-4 text-white" th:text="|Количество тест-кейсов: ${set.getCases().size()}|">Название набора</p>
          </div>
          <div class="w-100 d-flex py-2 justify-content-end">
            <a class="btn btn-primary border-0" style="height: 50%; margin: auto 0;" th:text="|Просмотреть тест-кейсы|" th:href="@{/companies/{idCompany}/projects/{id}/sets/{setid}/cases(idCompany = ${company.getId()}, id = ${project.getId()}, setid = ${set.getId()})}">Просмотреть наборы</a>
          </div>
        </div>
      </th:block>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>